<section class="principal" role="main">
    <form action="" method="POST" autocomplete="on" id="login">
        <fieldset form="login" class="form__agrupamento">
            <legend>Login</legend>
            <label for="email">E-mail</label>
            <input type="email" name="email">
            <label for="senha">Senha</label>
            <input type="password" name="senha">
        </fieldset>
        <fieldset form="login" class="form__botoes">
            <button type="button" id="trocar-senha">Esqueci minha senha</button>
            <button type="submit" form="login" name="entrar" class="login__entrar">Entrar</button>
            <button type="button" id="criar-conta">Criar conta</button>
        </fieldset>
    </form>
</section>
