.form__agrupamento label[for="senha"] {
    margin-top: 1.5em;
}

#trocar-senha {
    background-color: transparent;
    border: none;
    color: var(--cor-secundaria);
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-align: right;
    text-decoration: none;
}

#trocar-senha:hover, #criar-conta:hover {
    text-decoration: underline;
}

#criar-conta {
    background-color: transparent;
    border: none;
    color: var(--cor-principal);
    cursor: pointer;
    font-size: 22px;
    font-weight: 700;
    margin: 1em auto 0;
    text-decoration: none;
}
