<app-auxiliar-cabecalho></app-auxiliar-cabecalho>
<section class="principal" role="main">
    <form action="#" method="POST" autocomplete="on" id="concluir" #f="ngForm" (ngSubmit)="trocaSenha(f)">
        <fieldset form="concluir" name="campos-trocar-senha" class="form__agrupamento">
            <legend>Trocar Senha</legend>
            <div class="email">
                <label for="email" form="concluir" accesskey="e" id="email">E-mail</label>
                <input type="email" name="email" form="concluir" inputmode="verbatim" autocorrect="on" placeholder="E-mail" tabindex="1" pattern="^[\w-.]+@([\w-]+\.)+[\w-]{2,4}$" aria-labelledby="email" required ngModel>
                <div *ngIf="(f.controls['email']?.invalid && f.controls['email']?.touched) || f.controls['email']?.dirty">
                    <app-mensagens-erro *ngIf="f.controls['email']?.errors?.['required']" mensagem="Este campo deve ser preenchido"></app-mensagens-erro>
                    <app-mensagens-erro *ngIf="f.controls['email']?.errors?.['pattern']" mensagem="Você deve preencher um e-mail no formato exemplo@dominio.com"></app-mensagens-erro>
                </div>
            </div>
            <div class="senha">
                <label for="senha" form="concluir" accesskey="s" id="nova-senha">Nova senha</label>
                <input type="password" name="senha" form="concluir" inputmode="verbatin" autocorrect="on" placeholder="Nova senha" tabindex="2" minlength="8" maxlength="20" pattern="^(?=.*[A-Z])(?=.*[!#@$%&])(?=.*[0-9])(?=.*[a-z]).{6,15}$" aria-labelledby="nova-senha" required ngModel>
                <div *ngIf="(f.controls['senha']?.invalid && f.controls['senha']?.touched) ||  f.controls['senha']?.dirty">
                    <app-mensagens-erro *ngIf="f.controls['senha']?.errors?.['required']" mensagem="Este campo deve ser preenchido"></app-mensagens-erro>
                    <app-mensagens-erro *ngIf="f.controls['senha']?.errors?.['pattern']" mensagem="Sua senha deve conter ao menos um caractere especial, uma letra maiúscula e minúsculas e ao menos um número"></app-mensagens-erro>
                    <app-mensagens-erro *ngIf="f.controls['senha']?.errors?.['minlength']" mensagem="Sua senha deve ter no mínimo 8 caracteres"></app-mensagens-erro>
                    <app-mensagens-erro *ngIf="f.controls['senha']?.errors?.['maxlength']" mensagem="Sua senha deve ter no máximo 20 caracteres"></app-mensagens-erro>
                </div>
            </div>
            <div class="confirmaSenha">
                <label for="confirmaSenha" form="concluir" accesskey="n" id="confirma-senha">Confirmação de Senha</label>
                <input type="password" name="confirmaSenha" form="concluir" inputmode="verbatin" autocorrect="on" placeholder="Nova senha" tabindex="3" minlength="8" maxlength="20" pattern="^(?=.*[A-Z])(?=.*[!#@$%&])(?=.*[0-9])(?=.*[a-z]).{6,15}$" aria-labelledby="confirma-senha" required>
                <div *ngIf="(f.controls['confirmaSenha']?.invalid && f.controls['confirmaSenha']?.touched) || f.controls['confirmaSenha']?.dirty">
                    <app-mensagens-erro *ngIf="f.controls['confirmaSenha']?.errors?.['required']" mensagem="Este campo deve ser preenchido"></app-mensagens-erro>
                    <app-mensagens-erro *ngIf="f.controls['confirmaSenha']?.errors?.['pattern']" mensagem="Sua senha deve conter ao menos um caractere especial, uma letra maiúscula e minúsculas e ao menos um número"></app-mensagens-erro>
                    <app-mensagens-erro *ngIf="f.controls['confirmaSenha']?.errors?.['minlength']" mensagem="Sua senha deve ter no mínimo 8 caracteres"></app-mensagens-erro>
                    <app-mensagens-erro *ngIf="f.controls['confirmaSenha']?.errors?.['maxlength']" mensagem="Sua senha deve ter no máximo 20 caracteres"></app-mensagens-erro>
                    <app-mensagens-erro *ngIf="f.controls['confirmaSenha']?.errors?.['mesmaSenhaValidator']" mensagem="As senhas devem ser coincidentes"></app-mensagens-erro>
                </div>
            </div>
        </fieldset>
        <fieldset form="concluir" name="campos-botao" class="form__botoes">
            <button type="submit" form="concluir" tabindex="4">Trocar</button>
        </fieldset>
    </form>
</section>
