<app-home-cabecalho></app-home-cabecalho>
<main class="principal">
    <p class="principal__saudacoes">
        Olá, Dr.
        <span>José</span>
    </p>
    <h1>Programações do dia</h1>
    <section class="principal__consultas">
        <h2>Consultas</h2>
        <p>
            Você tem
            <span>0</span>
            consultas para hoje.
            <strong>Verifique a sua agenda!</strong>
        </p>
        <button type="button" name="ver-tudo">Ver tudo</button>
    </section>
    <section class="principal__tarefas">
        <h2>Tarefas</h2>
        <form action="" method="POST" autocomplete="off" name="tarefas"></form>
        <button type="button" name="ver-tudo">Ver tudo</button>
    </section>
</main>
<app-home-rodape></app-home-rodape>
